@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a{
  border-radius: 2px;
}
blockquote{
  margin-top: 70px;
-webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
padding: 20px 25px;
border-radius: 2px;
background: #6b5c5638;
border-radius: 2px;
padding: 20px 25px;
border: 1px solid #62534dab;
}
button{
  cursor: pointer;
  border-radius: 2px;
}
input,textarea{
  border-radius: 2px;
}

h1{font-size: 42px;}
h2{font-size: 28px;}
h3{font-size: 22px;}
h4{font-size: 16px;}
h5{font-size: 14px;}
p{font-size: 14px;}
input{border-radius: 0px;}

ul,ol{
  margin-left:20px;
  font-size: 14px;
  list-style: initial;
  }
  pre{
    margin-bottom: 40px;
  }

pre span > span:before {
  content: "\2014";
  /* background-color: #eee; */
  border-radius: 0;
  width: 23px;
  /* height: 1px; */
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  color: inherit;
}
pre span > span:after {
  content: "\2014";
  /* background-color: #eee; */
  border-radius: 0;
  width: 23px;
  /* height: 1px; */
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  color: inherit;
}
 blockquote pre span > span:before {
  content: "\2014";
  /* background-color: #eee; */
  border-radius: 0;
  width: 23px;
  /* height: 1px; */
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  color: inherit;
}
 blockquote pre span > span:after {
  content: "\2014";
  /* background-color: #eee; */
  border-radius: 0;
  width: 23px;
  /* height: 1px; */
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  color: inherit;
}
dot:before
{
  width: 10px;
  height: 10px;
  background: #62534dab;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  content: "";
}
pre span{
    position: relative;
    font-size: 20px;
}
.custom section{
  min-height: 800px;
}